html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

.obsah,
.uvodni_foto {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.obsah {
  background-color: #283e50;
  width: 360px;
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.801);
}

.obsah,
.obsah_pravidla,
.obsah_hra {
  text-align: center;
  margin: 60px auto;
}

.uvodni_foto {
  width: 100%;
  display: block;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: 400;
  margin: 0;
  padding: 30px 0px;
}

.popis {
  margin: 0 15px 32px 15px;
  line-height: 1.5;
}

/* stylování tlačítek společné pro všechny strany */
.tlacitka {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tlacitka a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 15px;
  font-weight: 600;
}

.tlacitko_pravidla,
.tlacitko_uvod,
.tlacitko_domu {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.tlacitko_hrat,
.tlacitko_restart {
  background-color: #0197f6;
}

.tlacitko_pravidla a:hover,
.tlacitko_pravidla a:focus,
.tlacitko_uvod a:hover,
.tlacitko_uvod a:focus,
.tlacitko_domu a:hover,
.tlacitko_domu a:focus {
  background-color: #1cbb96;
}

.tlacitko_hrat a:hover,
.tlacitko_hrat a:focus,
.tlacitko_restart a:hover,
.tlacitko_restart a:focus {
  background-color: #0090e9;
}

/* styly specifické pro stránku pravidla.html */
.obsah_pravidla {
  min-width: 280px;
}

.pravidla_vypis {
  text-align: left;
  list-style-type: decimal;
  margin: 0 35px 30px 30px;
}

.pravidla_vypis li {
  padding-bottom: 20px;
}

.pravidla_vypis img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

figure {
  margin: 0 20px 40px 20px;
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
  color: lightgrey;
  padding-top: 5px;
}

@media screen and (min-width: 700px) {
  .obsah_pravidla {
    min-width: 650px;
  }

  figure {
    margin: 0 0 40px 0;
  }

  .pravidla_obr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .pravidla_obr figure {
    flex: 0 1 45%;
  }
}

/* styly specifické pro stránku hra.html */
.obsah_hra {
  min-width: 20vmin;
  max-width: 80vmin;
  margin-top: 0;
  margin-bottom: 10px;
}

.obsah_hra h1 {
  padding: 15px 0px 5px;
}

.nastroje {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ukazatel_hrace {
  display: flex;
  align-items: center;
}

.nastroje h2 {
  text-transform: uppercase;
}

/* .kolecko {
  width: 25px;
  height: 25px;
  border: 3px solid;
  border-radius: 50%;
  margin-left: 10px;
} */
/* smazáno pro přebytečnost */

.tlacitka_hra {
  display: flex;
}

.tlacitka_hra a {
  border-radius: 6px;
}

.tlacitko_domu,
.tlacitko_restart {
  border-radius: 6px;
  border-bottom: none;
}

.tlacitko_restart {
  margin-left: 10px;
}

.hraci_plocha {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.801);
}

.hraci_plocha button {
  flex: 1 1 8vmin;
  height: 8vmin;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #283e50;
  position: relative;
}

.hraci_plocha button:hover,
.hraci_plocha button:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

/* styly specifické pro script.js */
.ukazatel_hrace img {
  filter: invert(100%);
  margin-left: 10px;
}

.hraci_plocha--circle::before {
  content:"";
  background-image: url('podklady/circle.svg');
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: symbolScale;
  animation-duration: 0.15s;
}

.hraci_plocha--cross::before {
  content:"";
  background-image: url('podklady/cross.svg');
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-name: symbolScale;
  animation-duration: 0.15s;
}

@keyframes symbolScale {
  from {
    transform: scale(0.1);
}
 to {
    transform: scale(1);
};
}